{% extends "lgc/generic_list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block search_bar %}
  <div class="col-sm-6">
    {% include "common/pagination_header.html" %}
  </div>
{% endblock %}

{% block body %}
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      {% get_table_th _('First name') 'first_name' order_by order_params %}
      {% get_table_th _('Last name') 'last_name' order_by order_params %}
      {% get_table_th 'E-mail' 'email' order_by order_params %}
      {% get_table_th _('Status') 'status' order_by order_params %}
      {% get_table_th _('Created') 'date_joined' order_by order_params %}
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr data-href="{% url update_url obj.id %}"
	{% if obj.status == 'P' %}
	class="clickable-row table-warning"
	{% elif obj.status == 'A' %}
	class="clickable-row table-success"
	{% else %}
	class="clickable-row bg-danger"
	{% endif %}
	>
      <td>{{ obj.first_name }}</td>
      <td>{{ obj.last_name }}</td>
      <td>{{ obj.email }}</td>
      <td>
	{% if obj.status == 'P' %}
	{% trans "Pending" %}
	{% elif obj.status == 'A' %}
	{% trans "Accepted" %}
	<a href="{% url 'hr-employee-file' obj.employee_user_set.id %}">
	  ({% trans 'View file' %})
	</a>
	{% else %}
	{% trans "Refused" %}
	{% endif %}
      </td>
      <td>
	{{ obj.date_joined|date }}
	{{ obj.date_joined|time:'H:i:s' }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block javascript %}
{% endblock %}
