{% load i18n %}

<div class="sidebar" role="navigation">
  <div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
    <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
      <li>&nbsp</li>
      <li class="list-group-item">
        <a href="{% url 'lgc-home' %}"><i class="fa fa-home fa-fw"></i> {% trans 'Dashboard' %}</a>
      </li>

      <li class="list-group-item">
	<a href="#"><i class="fa fa-user fa-fw"></i>
	  {% trans "Employees" %}
	  <span class="fa arrow"></span>
	</a>

        <ul class="nav-second-level list-group nested">
	  <li class="list-group-item">
	    <a href="{% url 'hr-create-account' %} ">{% trans "Create an account" %}</a>
          </li>
	  <li class="list-group-item">
	    <a href="{% url 'hr-employees' %}">{% trans "Account list" %}</a>
          </li>
	</ul>
      </li>

      <li class="list-group-item">
	<a href="{% url 'hr-expirations' %}"><i class="fa fa-bell fa-fw"></i> {% trans "Expirations" %}</a>
      </li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
