{% extends "lgc/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <i>
    {% blocktrans with firstname=object.modified_by.first_name lastname=object.modified_by.last_name role=object.modified_by.get_role_display mdate=object.modification_date %}
    Updated by {{ firstname }} {{ lastname }} ({{ role }}) on {{ mdate }}
    {% endblocktrans %}
    </i>
    <br><br>
    <div id="id_moderation_form_titles">
      <div class="form-row">
	<div class="form-group col-md-3">
	  <label><b>{% trans 'Current form:' %}</b></label>
	  <fieldset class="form-group">
	    {{ person_form|crispy }}
	  </fieldset>
	</div>
	<div class="form-group col-md-3">
	  <fieldset class="form-group">
	    <label><b>{% trans 'To be moderated:' %}</b></label>
	    {% crispy employee_form %}
	  </fieldset>
	</div>
      </div>
    </div>
    {% if formsets_form %}
    {% crispy formsets_form %}
    {% endif %}
    {% if docs %}
    <div class="form-row">
      <div class="form-group col-md-10">
	{% include 'employee/document_momderation_form.html' %}
      </div>
    </div>
    {% endif %}

    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">
	{% trans "Accept" %}
      </button>&nbsp;
      <a href="?reject=1" class="btn btn-outline-info" onclick="return confirm('{% trans 'Are you sure to reject this moderation?' %}');">
	{% trans "Reject all changes" %}
      </a>
    </div>
  </form>
</div>

{% endblock content %}
{% block javascript %}
<script src="{% static 'lgc/jquery.formset.min.js' %}"></script>
<script type="text/javascript">
  {% for formset in formsets %}
  jQuery(function($) {
    $("#{{ formset.id }}").formset({
        animateForms: true,
        reorderMode: 'dom',
    });
  });
  {% endfor %}

function validate_reject_checkbox(checkbox, added) {
    var msg;

    if (!checkbox.checked)
	return;

    if (added == 'True')
	msg = "{% trans 'This file will be deleted.' %}";
    else
	msg = "{% trans 'This file will not be deleted.' %}";

    alert(msg);
}
</script>

{% endblock javascript %}
