{% extends "lgc/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <i>
    {% blocktrans with firstname=object.modified_by.first_name lastname=object.modified_by.last_name role=object.modified_by.get_role_display mdate=object.modification_date %}
    Updated by {{ firstname }} {{ lastname }} ({{ role }}) on {{ mdate }}
    {% endblocktrans %}
    </i>
    <br><br>
    <div class="form-row">
      <div class="form-group col-md-3">
	<label><b>{% trans 'Current form:' %}</b></label>
	<fieldset class="form-group">
	  {{ person_form|crispy }}
	</fieldset>
      </div>
      <div class="form-group col-md-3">
	<fieldset class="form-group">
	  <label><b>{% trans 'To be moderated:' %}</b></label>
	  {% crispy employee_form %}
	</fieldset>
      </div>
    </div>
    {% if formsets_form %}
    {% crispy formsets_form %}
    {% endif %}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">
	{% trans "Accept" %}
      </button>
    </div>
  </form>
</div>

{% endblock content %}
{% block javascript %}
<script src="{% static 'lgc/jquery.formset.min.js' %}"></script>
<script type="text/javascript">
  {% for formset in formsets %}
  jQuery(function($) {
    $("#{{ formset.id }}").formset({
        animateForms: true,
        reorderMode: 'dom',
    });
  });
  {% endfor %}
</script>

{% endblock javascript %}
