{% extends "lgc/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">{% trans "Submit" %}</button>
      {% if delete_url and pw_reset_url %}
      <a href="{{ delete_url }}" class="btn btn-outline-danger">{% trans "Delete" %}</a>
      <a href="{{ pw_reset_url }}" class="btn btn-outline-info">{% trans "Change password" %}</a>
      {% endif %}
    </div>
  </form>
</div>

{% endblock content %}
