{% extends "lgc/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
	<div class="float-left">
	  {% blocktrans with number=page_obj.paginator.count %}Found {{ number }} user(s){% endblocktrans %}
	</div>
	<div class="float-right">
	  <a class="btn btn-outline-info btn-lgc" href="{% url 'lgc-user-create' %}">
	    {% trans "Add user" %}</a>
	</div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
	<div class="row"><div class="col-sm-12 col-md-6">
	    {% include 'common/pagination_header.html' %}
	  </div>
	  <div class="col-sm-12 col-md-6">
	    <div class="dataTables_filter">
	      <form id="search" ajax-search="{% url 'lgc-user-search-ajax' %}" method="get" action="{% url 'lgc-users' %}">
		<div class="input-group custom-search-form">
                  <input type="text" class="form-control" name="term" value="{{ request.GET.term }}" id="search_box" placeholder="{% trans 'Search...' %}" autocomplete="off" onfocus="this.selectionStart = this.selectionEnd = this.value.length;" autofocus>
                  <span class="input-group-btn">
                    <button class="btn btn-white" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
		</div>
	      </form>
	    </div>
	    <label>
		<span id="search-result-container"></span>
	    </label>

	  </div>
	</div>
	<table class="table table-striped table-bordered table-hover">
	  <thead>
	    <tr>
	      <th scope="col">{% trans "Username" %}
		{% if order_by == "username" %}
		<a href="?{{ order_params }}&order_by=-username"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-username" %}
		<a href="?{{ order_params }}&order_by=username"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=username"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col">{% trans "E-mail" %}
		{% if order_by == "email" %}
		<a href="?{{ order_params }}&order_by=-email"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-email" %}
		<a href="?{{ order_params }}&order_by=email"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=email"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col">{% trans "First name" %}
		{% if order_by == "first_name" %}
		<a href="?{{ order_params }}&order_by=-first_name"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-first_name" %}
		<a href="?{{ order_params }}&order_by=first_name"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=first_name"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col">{% trans "Last name" %}
		{% if order_by == "last_name" %}
		<a href="?{{ order_params }}&order_by=-last_name"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-last_name" %}
		<a href="?{{ order_params }}&order_by=last_name"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=last_name"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col" style="width: 100px">{% trans "Role" %}
		{% if order_by == "profile__role" %}
		<a href="?{{ order_params }}&order_by=-profile__role"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-profile" %}
		<a href="?{{ order_params }}&order_by=profile__role"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=profile__role"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col" style="width: 100px">{% trans "Billing" %}
		{% if order_by == "profile__billing" %}
		<a href="?{{ order_params }}&order_by=-profile__billing"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-profile__billing" %}
		<a href="?{{ order_params }}&order_by=profile__billing"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=profile__billing"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col" style="width: 100px">{% trans "Staff" %}
		{% if order_by == "is_staff" %}
		<a href="?{{ order_params }}&order_by=-is_staff"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-is_staff" %}
		<a href="?{{ order_params }}&order_by=is_staff"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=is_staff"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>

	    </tr>
	  </thead>
	  <tbody>
	    {% for user in users %}
	    <tr class="clickable-row" data-href="{% url 'lgc-user' user.id %}">
	      <td>{{ user.username }}</td>
	      <td>{{ user.email }}</td>
	      <td>{{ user.first_name }}</td>
	      <td>{{ user.last_name }}</td>
	      <td>{{ user.profile.get_role_display }}</td>
	      <td>
		{% if user.profile.billing %}
		<i class="fa fa-fw fa-check lgc-sorting-muted"></i>
		{% endif %}
	      </td>
	      <td>
		{% if user.is_staff %}
		<i class="fa fa-fw fa-check lgc-sorting-muted"></i>
		{% endif %}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	  {% include 'common/pagination_buttons.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'lgc/lgc.js' %}"></script>
{% endblock javascript %}
