{% extends "lgc/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{% trans "Update password for user" %} {{ user.username }} </legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">{% trans "Update" %}</button>
      <a href="{% url 'lgc-user' user.id %}" class="btn btn-outline-info">{% trans "Cancel" %}</a>
    </div>
  </form>
</div>

{% endblock content %}
