{% load i18n %}{% load static %}{% load crispy_forms_tags %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  {% include "lgc/header.html" %}
  <body>
    <div class="top-right-corner">
      <img src="{% static 'lgc/images/top-corner.png' %}"/>
    </div>
    <!--div class="bottom-right-corner">
      <img src="{% static 'lgc/images/bottom-corner.png' %}"/>
    </div-->

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "error" %}
      <div class="alert alert-danger">
    {% else %}
      <div class="alert alert-{{ message.tags }}">
    {% endif %}
    {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
      <div class="row">
	<div class="col-lg-8 mx-md-auto">
	  <div class="login-panel card">
            <div class="card-header">
              <h3 class="card-title">
		{% trans 'Welcome' %} {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
	      </h3>
            </div>
            <div class="card-body">
	      <div class="form-group">
		{% trans "Please choose a password to access your account" %}
	      </div>
              <form role="form" method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
		  {{ form|crispy }}
		  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="terms" value="1" required="">
                      <a href="#" onClick="window.open('{% if user.language == 'FR' %}{% static 'users/terms_and_conditions_fr.html' %}{% else %}{% static 'users/terms_and_conditions_en.html' %}{% endif %}', 'newwindow',config='height=400,width=950, toolbar=no, menubar=no,scrollbars=yes, resizable=no,location=no,directories=no, status=no');return false;">{% trans 'I accept the terms and conditions' %}</a>
		    </label><br>&nbsp;
		  </div>
		  <button class="btn btn-lg btn-lgc btn-block" type="submit">
		    {% trans "Submit" %}
		  </button>
		</fieldset>
              </form>
            </div>
	  </div>
	</div>
      </div>
    </div>
    {% include "lgc/footer.html" %}
  </body>
</html>
