{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "lgc/header.html" %}
  <body>
    <div class="top-right-corner">
      <img src="{% static 'lgc/images/top-corner.png' %}"/>
    </div>
    <!--div class="bottom-right-corner">
      <img src="{% static 'lgc/images/bottom-corner.png' %}"/>
    </div-->
    <div class="container">
      <div class="row">
	<div class="col-lg-8 mx-md-auto">
	  <div class="login-panel card" style="text-align: center;">&nbsp;
	    <br>Thank you for having accepted our temrs and conditions.
	    <br>&nbsp;
	  </div>
	</div>
      </div>
    </div>

  </body>
</html>
