{% extends "lgc/generic_list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block search_bar %}
{% if page_obj.paginator.count > 10 %}
<div class="col-sm-1">
  {% include "common/pagination_header.html" %}
</div>
{% endif %}
<div class='col-sm-{% if page_obj.paginator.count > 10 %}5{% else %}6{% endif %}'>
  <input onclick="this.form.submit();" type="radio" name="options" value="all"
	 {% if request.GET.options == None or request.GET.options == "all" %}
	 checked
	 {% endif %}> {% trans 'All' %}
  <input onclick="this.form.submit();" type="radio" name="options" value="pending"
	 {% if request.GET.options == "pending" %}
	 checked
	 {% endif %}> {% trans 'Pending' %}
  <input onclick="this.form.submit();" type="radio" name="options" value="deleted"
	 {% if request.GET.options == "deleted" %}
	 checked
	 {% endif %}> {% trans 'Deletion requested' %}
</div>
{% endblock %}

{% block body %}
{% include 'lgc/person_table.html' %}
{% endblock %}
