{% load i18n %}{% load static %}{% get_current_language as LANGUAGE_CODE %}
{% load custom_tags %}
{% is_local_user request.user as is_local %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  {% include "lgc/header.html" %}
  <body onload="get_lgc_links();">
    {% include 'lgc/messages.html' %}
    <div id="wrapper">
      <!-- Navigation -->
      <header class="align-items-start app-header flex-column flex-md-row navbar navbar-expand-md navbar-light">
	<div class="align-items-baseline d-flex flex-row navbar-brand p-lg-3 pl-3 pr-3 pt-3">
          <a href="{% url 'lgc-home' %}">LGC v5.0</a>
          <button class="collapsed ml-auto navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#side-menu-wrapper" aria-controls="side-menu" aria-expanded="false"
                  aria-label="Toggle navigation" style="
							">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
	{% if is_local %}
	{% include 'lgc/dropdown_menu_complete.html' %}
	{% else %}
	{% include 'lgc/dropdown_menu_limited.html' %}
	{% endif %}
      </header>
      <div class="lgc-logo-bg">
	<img id="kw-logo" src="{% static 'lgc/images/kw-logo-left.png' %}">
      	<img id="kw-logo" align="right" src="{% static 'lgc/images/kw-logo-right.png' %}">
      </div>
      <div class="d-md-flex">
	{% if is_local %}
	{% include 'lgc/menu_complete.html' %}
	{% elif request.user.role == 'EM' %}
	{% include 'employee/menu.html' %}
	{% elif request.user.role == 'HR' %}
	{% include 'hr/menu_hr_simple.html' %}
	{% elif request.user.role == 'HA' %}
	{% include 'hr/menu_hr_admin.html' %}
	{% endif %}

        <div id="page-wrapper" class="p-4">
          <div class="row">
            <div class="col-xl-12">
              <h1 class="page-header">{{ title }}</h1>
            </div>
            <!-- /.col-xl-12 -->
          </div>
	  {% block content %}{% endblock %}
        </div>
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% include 'lgc/footer.html' %}

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    {% block javascript %}{% endblock %}
  </body>

</html>
