{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "lgc/header.html" %}
  <body>
    {% get_current_language as LANGUAGE_CODE %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div id="wrapper">
      <!-- Navigation -->
      <header class="align-items-start app-header flex-column flex-md-row navbar navbar-expand-md navbar-light">
	<div class="align-items-baseline d-flex flex-row navbar-brand p-lg-3 pl-3 pr-3 pt-3">
          <a href="#">LGC v5.0</a>
          <button class="collapsed ml-auto navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#side-menu-wrapper" aria-controls="side-menu" aria-expanded="false"
                  aria-label="Toggle navigation" style="
							">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <ul class="nav navbar-nav ml-md-auto flex-row navbar-top-links bg-light">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-envelope fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-messages dropdown-menu-right">
              <a class="dropdown-item" href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="float-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="float-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div>
                  <strong>John Smith</strong>
                  <span class="float-right text-muted">
                    <em>Yesterday</em>
                  </span>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item see-more text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
	      <span class="flag-icon flag-icon-{{ LANGUAGE_CODE }}"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-users">
              <div>
		<a href="/en{{ request.get_full_path|slice:'3:' }}" class="dropdown-item"><span class="flag-icon flag-icon-en"></span> English</a>
		<a href="/fr{{ request.get_full_path|slice:'3:' }}" class="dropdown-item"><span class="flag-icon flag-icon-fr"></span> français</a>
              </div>
	    </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-alerts">
              <a class="dropdown-item" href="#">
                <div>
                  <i class="fa fa-comment fa-fw"></i> New Comment
                  <span class="float-right text-muted small">4 minutes ago</span>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div>
                  <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                  <span class="float-right text-muted small">12 minutes ago</span>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div>
                  <i class="fa fa-envelope fa-fw"></i> Message Sent
                  <span class="float-right text-muted small">4 minutes ago</span>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div>
                  <i class="fa fa-tasks fa-fw"></i> New Task
                  <span class="float-right text-muted small">4 minutes ago</span>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <div>
                  <i class="fa fa-upload fa-fw"></i> Server Rebooted
                  <span class="float-right text-muted small">4 minutes ago</span>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item see-more text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-user">
              <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              <a class="dropdown-item" href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'lgc-logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </div>
          </li>
        </ul>
      </header>
      <div class="lgc-logo-bg">
	<img id="kw-logo" src="{% static 'lgc/images/kw-logo-left.png' %}">
      	<img id="kw-logo" align="right" src="{% static 'lgc/images/kw-logo-right.png' %}">
      </div>
      <div class="d-md-flex">
        <div class="sidebar" role="navigation">
          <div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
            <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
              <li class="sidebar-search">
                <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button class="btn btn-white" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
                <!-- /input-group -->
              </li>
              <li class="list-group-item">
                <a href="{% url 'lgc-home' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
              </li>
	      <li class="list-group-item">
		<a href="{% url 'lgc-files' %}"><i class="fa fa-files-o fa-fw"></i> {% trans "Files" %}</a>
              </li>
	      <li class="list-group-item">
		<a href="{% url 'lgc-hrs' %}"><i class="fa fa-files-o fa-fw"></i> {% trans "Human resoures" %}</a>
              </li>
              <li class="list-group-item">
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav-second-level list-group nested">
                  <li class="list-group-item">
                    <a href="flot.html">Flot Charts</a>
                  </li>
                  <li class="list-group-item">
                    <a href="morris.html">Morris.js Charts</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li class="list-group-item">
                <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
              </li>
              <li class="list-group-item">
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
              </li>
              <li class="list-group-item">
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav-second-level list-group nested">
                  <li class="list-group-item">
                    <a href="cards.html">Cards</a>
                  </li>
                  <li class="list-group-item">
                    <a href="buttons.html">Buttons</a>
                  </li>
                  <li class="list-group-item">
                    <a href="notifications.html">Notifications</a>
                  </li>
                  <li class="list-group-item">
                    <a href="typography.html">Typography</a>
                  </li>
                  <li class="list-group-item">
                    <a href="icons.html"> Icons</a>
                  </li>
                  <li class="list-group-item">
                    <a href="grid.html">Grid</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>

              <li class="list-group-item">
                <a href="#"><i class="fa fa-sitemap fa-fw"></i>
		  {% trans "Cases" %}
		  <span class="fa arrow"></span>
		</a>

                <ul class="nav-second-level list-group nested">
		  <li class="list-group-item">
                    <a href="#">{% trans "Employees" %} <span class="fa arrow"></span></a>
                    <ul class="nav-third-level list-group nested">
		      <li class="list-group-item">
			<a href="{% url "lgc-case-create" %} ">{% trans "Initiate a case" %}</a>
                      </li>
		      <li class="list-group-item">
			<a href="{% url "lgc-cases" %} ">{% trans "Pending cases" %}</a>
                      </li>
		    </ul>
		  </li>

		  <li class="list-group-item">
                    <a href="#">{% trans "Human resources" %} <span class="fa arrow"></span></a>
		    <ul class="nav-third-level list-group nested">
		      <li class="list-group-item">
			<a href="{% url "lgc-hr-create" %} ">{% trans "Initiate a HR case" %}</a>
                      </li>
		      <li class="list-group-item">
			<a href="{% url "lgc-hr-cases" %} ">{% trans "Pending HR cases" %}</a>
                      </li>
                    </ul>
		  </li>
		</ul>
              </li>
              <li class="list-group-item">
		<a href="#"><i class="fa fa-wrench fa-fw"></i> Admin<span class="fa arrow"></span></a>
                <ul class="nav-second-level list-group nested">
		  <li class="list-group-item">
                    <a href="{% url "lgc-users" %} ">{% trans "Local users" %}</a>
                  </li>
                </ul>
                <!-- /.nav-second-level -->
              </li>
            </ul>
          </div>
          <!-- /.sidebar-collapse -->
        </div>

        <div id="page-wrapper" class="p-4">
          <div class="row">
            <div class="col-xl-12">
              <h1 class="page-header">{{title}}</h1>
            </div>
            <!-- /.col-xl-12 -->
          </div>
	  {% block content %}{% endblock %}
        </div>
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% include "lgc/footer.html" %}

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    {% block javascript %}{% endblock %}
  </body>

</html>
