{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% for formset in formsets %}
<div class="card lgc_formset_width" style="overflow:visible;">
  <div class="card-header" id="heading_{{ formset.id }}">
    <h5 class="mb-0">{{ formset.title }}</h5>
  </div>

  <div>
    <div class="card-body">
      {% if formset.db_objs %}
      {% include 'lgc/display_current_objects.html' %}
      {% endif %}
      <div id="{{ formset.id }}" data-formset-prefix="{{ formset.prefix }}">
	{{ formset.management_form }}

	<div data-formset-body>
	  {% for form in formset %}
	  {% if forloop.first %}
	  <div class="form-row">
	    {% for f in form.visible_fields %}
	    <div
	      class="form-group justify-content-center d-flex lgc_small_formset_label2
		     {% if f.name == 'DELETE' or f.name == 'margin' or '_id' in f.name %}
		     lgc_small-fixed-col
		     {% elif f.name == 'description' %}
		     lgc_big-fixed-col
		     {% elif f.name == 'quantity' %}
		     lgc_small-fixed-col
		     {% else %}
		     lgc_medium-fixed-col
		     {% endif %}
		     ">

	      {% if f.name != 'DELETE' %}
	      {{ f.label|capfirst }}
	      {% endif %}
	      {% if f.field.required %}<span class="asteriskField">*</span>{% endif %}
	    </div>
	    {% endfor %}
	  </div>
	  {% endif %}

	  <div data-formset-form class="form-row mt-2">
	    {% for f in form.hidden_fields %}
	    {{ f }}
	    {% endfor %}
	    {% for f in form.visible_fields %}
	    <div
	      {% if f.name == 'DELETE' %}
	      class="d-none">
	      {% elif 'margin' in f.name  or '_id' in f.name or '_id' in f.name%}
	      class="lgc_small-fixed-col lgc_small_formset justify-content-center text-center h-100">
	      {% elif f.name == 'description' %}
	      class="lgc_big-fixed-col lgc_small_formset justify-content-center d-flex">
	      {% elif f.name == 'quantity' %}
	      class="lgc_small-fixed-col justify-content-center d-flex">
	      {% else %}
	      class="lgc_medium-fixed-col justify-content-center d-flex">
	      {% endif %}
	      {{ f }}
	      {% if f.errors %}
	      <span class="invalid-feedback" style="display:inline;">
		<strong>{{ f.errors.0 }}</strong>
	      </span>
	      {% endif %}
	    </div>
	    {% endfor %}
	    <div class="form-group lgc_small-fixed-col justify-content-center text-center h-100 lgc_aligned_checkbox2">
	      <a href="#" onclick="return insert_item('{% if formset.id == 'items_id' %}{% url 'lgc-insert-item' %}{% else %}{% url 'lgc-insert-disbursement' %}{% endif %}', this, {{ forloop.counter0 }}, '{{ f.id_for_label }}');"><i class="fas fa-plus-circle"></i></a>
	    </div>
	    <div class="form-group lgc_small-fixed-col lgc_aligned_checkbox2">
	      <i class="far fa-trash-alt" data-formset-delete-button onclick="remove_item({{ forloop.counter0 }}, '{{ formset.id }}'); "></i>
	    </div>
	  </div>
	  {% endfor %}
	</div>

	<script type="form-template" data-formset-empty-form>
	  {% escapescript %}
	  <div data-formset-form class="form-row mt-2">
	    {% for f in formset.empty_form.hidden_fields %}
	    {{ f }}
	    {% endfor %}
	    {% for f in formset.empty_form.visible_fields %}
	    <div
	      {% if f.name == 'DELETE' %}
	      class="d-none">
	      {% elif 'margin' in f.name  or '_id' in f.name%}
	      class="lgc_small-fixed-col lgc_small_formset justify-content-center text-center h-100">
	      {% elif f.name == 'description' %}
	      class="lgc_big-fixed-col lgc_small_formset justify-content-center d-flex">
	      {% elif f.name == 'quantity' %}
	      class="lgc_small-fixed-col justify-content-center d-flex">
	      {% else %}
	      class="lgc_medium-fixed-col justify-content-center d-flex">
	      {% endif %}
	      {{ f }}
	      {% if f.errors %}
	      <span class="invalid-feedback" style="display:inline;">
		<strong>{{ f.errors.0 }}</strong>
	      </span>
	      {% endif %}
	    </div>
	    {% endfor %}
	    <div class="form-group lgc_small-fixed-col justify-content-center d-flex text-center h-100 lgc_aligned_checkbox2">
	      <a href="#" onclick="return insert_item('{% if formset.id == 'items_id' %}{% url 'lgc-insert-item' %}{% else %}{% url 'lgc-insert-disbursement' %}{% endif %}', this, '__prefix__');"><i class="fas fa-plus-circle"></i></a></div>
	    <div class="form-group lgc_small-fixed-col lgc_aligned_checkbox2">
	      <i class="far fa-trash-alt" data-formset-delete-button onclick="remove_item(__prefix__, '{{ formset.id }}');"></i>
	    </div>
	  </div>
	</script>
	{% endescapescript %}
	<script>
	  autosize(document.querySelectorAll('textarea'));
	  jQuery(function ($) {
	  lgc_datepicker();
	  });
	</script>

	<div class="form-row mt-2">
	  <input type="button" class="btn btn-info rounded" value="{% trans 'Add' %}" data-formset-add>
	</div>
	<div class="form-row mt-2">
	  {% if formset.id == 'disbursements_id' %}
	  <span class="form-row lgc_small_formset_label2 lgc_aligned_checkbox" style="display: flex; justify-content: flex-end;margin-right:0;margin-left:auto;">
	    <div class="form-check"> <label for="id_various_expenses" class="form-check-label">{{ form.various_expenses }} {{ form.various_expenses.label }}</label>
	      <small class="form-text text-muted">{{ form.various_expenses.help_text }}</small>
	    </div>
	    <label> </label>
	  </span>
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
</div>
<script>

function client_id_check() {
  client_info = document.getElementById('client_info')
  if (!client_info || typeof client_info == 'undefined')
    return false;

  if (client_info.innerHTML == '') {
    $.notify("{% trans 'Client not set' %}",
	     {
	       className: 'error',
	       position: 'top center',
	     });
    return false;
  }
  return true;
}

function invoice_form_checks(msg) {
  var state_elem = document.getElementById('id_state');

  if (state_elem && state_elem.value == 'V') {
    if (!confirm(msg))
      return false;
  }
  return client_id_check();
}

function round_decimal(val) {
    return Math.round(val * 100) / 100;
}

function compute_invoice() {
  var various_expenses_input = document.getElementById('id_various_expenses');

  var items_total_div = document.getElementById('id_items_total_div');
  var items_total_vat_div = document.getElementById('id_items_total_vat_div');

  var already_paid_div = document.getElementById('id_already_paid_div');
  var already_paid_input = document.getElementById('id_already_paid');
  var already_paid = 0;

  var disbursements_total_div = document.getElementById('id_disbursements_total_div');
  var disbursements_total_vat_div = document.getElementById('id_disbursements_total_vat_div');

  var total_div = document.getElementById('id_total_div');
  var total_vat_div = document.getElementById('id_total_vat_div');
  var invoice_total_div = document.getElementById('id_invoice_total_div');
  var invoice_total_input = document.getElementById('id_total');

  var items_total = 0;
  var items_total_vat = 0;
  var disbursements_total = 0;
  var disbursements_total_vat = 0;

  var subtotal = 0;
  var subtotal_vat = 0;
  var invoice_total = 0;

  var various_expenses = 0;
  var various_expenses_vat = 0;
  var first_item_vat = 0;
  var i = 0;

  while (document.getElementById('id_items-'+i+'-description') !== null) {
    var rate_input = document.getElementById('id_items-'+i+'-rate');
    var quantity_input = document.getElementById('id_items-'+i+'-quantity');
    var vat_input = document.getElementById('id_items-'+i+'-vat');
    var total_input = document.getElementById('id_items-'+i+'-total');
    var total = 0;
    var rate_quantity = 0;

    rate = parseFloat(rate_input.value);
    quantity = parseFloat(quantity_input.value);
    rate_quantity = round_decimal(rate * quantity);
    vat = parseFloat(vat_input.value) / 100;

    /* this will be used to compute various expenses */
    if (i == 0)
      first_item_vat = vat;

    total = rate_quantity * (1 + vat);
    total = round_decimal(total);
    total_input.value = total.toFixed(2);

    items_total += rate_quantity
    items_total_vat += rate_quantity * vat;

    i++;
  }

  i = 0;
  var margin = 20 / 100.; // 20%
  while (document.getElementById('id_disbursements-'+i+'-description') !== null) {
    var rate_input = document.getElementById('id_disbursements-'+i+'-rate');
    var quantity_input = document.getElementById('id_disbursements-'+i+'-quantity');
    var vat_input = document.getElementById('id_disbursements-'+i+'-vat');
    var margin_input = document.getElementById('id_disbursements-'+i+'-margin');
    var total_input = document.getElementById('id_disbursements-'+i+'-total');

    var rate_quantity = 0;
    var dtotal = 0;
    var dvat = 0;

    rate = parseFloat(rate_input.value);
    quantity = parseFloat(quantity_input.value);
    rate_quantity = rate * quantity;
    rate_quantity = round_decimal(rate * quantity);
    vat = parseFloat(vat_input.value) / 100.;
    dtotal = rate_quantity * (1 + vat);

    if (margin_input.checked)
	dtotal = round_decimal(dtotal * (1 + margin));
    total_input.value = dtotal.toFixed(2);

    dtotal = rate_quantity;
    if (margin_input.checked) {
	dtotal *= 1 + margin;
	dtotal = round_decimal(dtotal);
    }
    dvat = round_decimal(dtotal * vat);
    disbursements_total += dtotal;
    disbursements_total_vat += dvat;
    i++;
  }

  items_total_div.innerHTML = items_total.toFixed(2);
  items_total_vat_div.innerHTML = items_total_vat.toFixed(2);

  if (various_expenses_input && various_expenses_input.checked) {
    various_expenses = items_total *  5/100.;

    if (various_expenses > 100)
      various_expenses = 100;
    various_expenses_vat = various_expenses * first_item_vat;
  }

  if (disbursements_total_div) {
    disbursements_total += various_expenses;
    disbursements_total = round_decimal(disbursements_total);
    disbursements_total_vat += various_expenses_vat;
    disbursements_total_vat = round_decimal(disbursements_total_vat);
    disbursements_total_div.innerHTML = disbursements_total.toFixed(2);
    disbursements_total_vat_div.innerHTML = disbursements_total_vat.toFixed(2);
  }
  if (already_paid_input && already_paid_div) {
    already_paid = parseFloat(already_paid_input.value);
    already_paid_div.innerHTML = already_paid.toFixed(2);
  }
  subtotal = items_total + disbursements_total;
  subtotal_vat = items_total_vat + disbursements_total_vat;
  subtotal = round_decimal(subtotal);
  subtotal_vat = round_decimal(subtotal_vat);

  if (total_div) {
    total_div.innerHTML = '<b>' + subtotal.toFixed(2) + '</b>';
    total_vat_div.innerHTML = '<b>' + subtotal_vat.toFixed(2) + '</b>';
  }
  invoice_total = subtotal + subtotal_vat;
  invoice_total = round_decimal(invoice_total);
  invoice_total_input.value = invoice_total;
  if (already_paid)
    invoice_total -= already_paid;

  invoice_total_div.innerHTML = '<b>' + invoice_total.toFixed(2) + '</b>';
}

function remove_item(index, formset_id) {
  var description_input;

  if (formset_id == 'items_id')
    description_input = document.getElementById('id_items-' + index + '-rate');
  else if (formset_id == 'disbursements_id')
    description_input = document.getElementById('id_disbursements-' + index + '-rate');

  description_input.value = 0;
  compute_invoice();
}

function insert_item(url, element, index) {
    var currency = document.getElementById('id_currency');
    url = url + '?index=' + index + '&currency=' + currency.value;
    window.open(url, 'newwindow', config='height=400,width=950, toolbar=no, menubar=no,scrollbars=yes, resizable=no,location=no,directories=no, status=no');
    return false;
}

function invoice_validated_state_alert(elem, msg) {
  if (elem.value == "V")
    alert(msg);
}

function invoice_confirm_validated_state(elem, msg) {
  return confirm(msg);
}

$(document).ready(function() {
  compute_invoice();
});
</script>
{% endfor %}
