{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="form-row">
  <div class="form-group col-md-4">
    {% if form.instance.state == 'V' %}
    <div class="alert alert-warning" role="alert">
      {% if form.instance.modified_by.first_name or form.instance.modified_by.last_name %}
      {% blocktrans with val_date=form.instance.last_modified_date firstname=form.instance.modified_by.first_name lastname=form.instance.modified_by.last_name %}
      Invoice validated on {{ val_date }} by {{ firstname }} {{ lastname }}
      {% endblocktrans %}
      {% else %}
      {% blocktrans with val_date=form.instance.last_modified_date %}
      Invoice validated on {{ val_date }}
      {% endblocktrans %}
      {% endif %}
    </div>
    {% endif %}

    {% if person %}
    <a href="{% url 'lgc-file' person.id %}">{% trans 'File Id:' %} {{ person.id }}</a>
    {% if person_process %}
    ({% trans 'Process:' %}
    <a href="{% url 'lgc-person-process' person_process.id %}">
    {% if LANGUAGE_CODE == 'fr' %}
    {{ person_process.name_fr }}
    {% else %}
    {{ person_process.name_en }}
    {% endif %}
    </a>
    )
    {% endif %}
    {% endif %}
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">{% trans 'Client information' %}</div>
      <div class="panel-body">
	<div class="form-row">
	  <a href="#" onclick="window.open('{% url 'lgc-insert-client' %}', 'newwindow',config='height=400,width=950, toolbar=no, menubar=no,scrollbars=yes, resizable=no,location=no,directories=no, status=no');return false;">{% trans 'Insert Client' %}</a>
	</div>
	<div class="form-row">&nbsp;</div>
	<div id="client_info">{{ client_info }}</div>
      </div>
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-8">
    <p>
      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapsePO" aria-expanded="false" aria-controls="collapsePO">
        {% trans 'Authorizations' %}
      </button>
    </p>
    <hr>
  </div>
</div>
