{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

<label><b>{% trans 'Children' %}</b></label>
<div id="formset" data-formset-prefix="{{ children.prefix }}">
{{ children.management_form }}

<div data-formset-body>
    <!-- New forms will be inserted in here -->
    {% for form in children %}

      {% if forloop.first %}
        <div class="form-row">
            {% for f in form.visible_fields %}
                <div class="form-group col-md-2">
                  {{ f.label|capfirst }}
                </div>
            {% endfor %}
        </div>
      {% endif %}

       <div data-formset-form class="form-row">
           {% for f in form.hidden_fields %}
              {{ f }}
           {% endfor %}
           {% for f in form.visible_fields %}
               <div class="form-group col-md-2">{{ f }}</div>
           {% endfor %}
       </div>
    {% endfor %}
</div>

<script type="form-template" data-formset-empty-form>
    {% escapescript %}
        <div data-formset-form class="form-row">
            {% for f in children.empty_form.hidden_fields %}
                {{ f }}
            {% endfor %}
            {% for f in children.empty_form.visible_fields %}
                <div class="form-group col-md-2">{{ f }}</div>
            {% endfor %}
        </div>
    {% endescapescript %}
</script>

<input type="button" value="{% trans 'Add a child' %}" data-formset-add>
</div>
