{% load i18n %}
{% load custom_tags %}

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      {% if show_id %}
      {% get_table_th 'ID' 'id' order_by order_params %}
      {% endif %}

      {% get_table_th 'E-mail' 'email' order_by order_params %}
      {% get_table_th _('First name') 'first_name' order_by order_params %}
      {% get_table_th _('Last name') 'last_name' order_by order_params %}

      {% if show_birth_date %}
      {% get_table_th _('Birth Date') 'birth_date' order_by order_params %}
      {% endif %}

      {% if show_status %}
      {% get_table_th _('Creation of account') 'status' order_by order_params %}
      {% endif %}

      {% get_table_th _('Created') 'creation_date' order_by order_params %}
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr data-href="{% url update_url obj.id %}"
	{% if show_status %}
	{% if obj.status == 'P' %}
	class="clickable-row table-warning"
	{% elif obj.status == 'A' %}
	class="clickable-row table-success"
	{% else %}
	class="clickable-row bg-danger"
	{% endif %}
	{% else %}
	class="clickable-row"
	{% endif %}
	>
      {% if show_id %}<td>{{ obj.id }}</td>{% endif %}
      <td>{{ obj.email }}</td>
      <td>{{ obj.first_name }}</td>
      <td>{{ obj.last_name }}</td>
      {% if show_birth_date %}<td>{{ obj.birth_date }}</td>{% endif %}
      {% if show_status %}
      <td>
	{% if obj.status == 'P' %}
	{% trans "Pending" %}
	{% elif obj.status == 'A' %}
	{% trans "Accepted" %}
	{% else %}
	{% trans "Deletion requested" %}
	{% endif %}
      </td>
      {% endif %}
      <td>
	{% if obj.creation_date %}
	{{ obj.creation_date|date }}
	{{ obj.creation_date|time:'H:i:s' }}
	{% else %}
	{{ obj.date_joined|date }}
	{{ obj.date_joined|time:'H:i:s' }}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
