{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{{ docs.management_form }}
{% if docs|length %}
<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
	<div class="float-left">
	  {% blocktrans count entries=docs|length %}
	  Found {{ entries }} file
	  {% plural %}
	  Found {{ entries }} files
	  {% endblocktrans %}
	</div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
	<table class="table table-striped table-bordered table-hover">
	  <thead>
	    <tr>
	      <th scope="col">{% trans "File name" %}</th>
	      <th scope="col">{% trans "Description" %}</th>
	      {% if docs.0.instance.uploaded_by %}
	      <th scope="col">{% trans "Uploaded by" %}</th>
	      {% endif %}
	      {% if docs.0.instance.uploaded_date %}
	      <th scope="col">{% trans "Date" %}</th>
	      {% endif %}
	      <th scope="col">{% trans "File size" %}</th>
	      <th scope="col">{% trans "Delete" %}
		<a href=""></a>
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in docs %}
	    <tr>
	      <td>
		<a href={% url doc_download_url item.instance.id %}>
		  {{ item.instance.filename }}
		</a>
	      </td>
	      <td>{{ item.instance.description }}</td>
	      {% if item.instance.uploaded_by %}
	      <td>{% if item.instance.uploaded_by.first_name != '' and item.instance.uploaded_by.last_name %}
		{{ item.instance.uploaded_by.first_name }}
		{{ item.instance.uploaded_by.last_name }}
		{% else %}
		{{ item.instance.uploaded_by.email }}
		{% endif %}
	      </td>
	      {% endif %}
	      {% if item.instance.uploaded_date %}
	      <td>{{ item.instance.uploaded_date }}</td>
	      {% endif %}
	      <td>
		{% if item.instance.file_exists %}
		{{ item.instance.document.size|filesizeformat }}
		{% else %}
		<div class="alert alert-danger" role="alert">
		{% trans 'File does not exist!' %}
		</div>
		{% endif %}
	      </td>
	      <td>{{ item.id }}{{ item.DELETE }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endif %}
<br><strong>{% trans 'Upload a file:' %}</strong>
<div class="row">
  <div class="form-group col-md-3">
    {{ doc.description|as_crispy_field }}
  </div>
  <div class="form-group col-md-3">
    {{ doc.document|as_crispy_field }}
  </div>
</div>

