{% load i18n %}

<ul class="nav navbar-nav ml-md-auto flex-row navbar-top-links bg-light">

  {% include 'lgc/dropdown_menu_lang.html' %}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">
      <i class="far fa-bell fa-fw"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-alerts">
      <a class="dropdown-item" href="#">
        <div>
          <i class="fa fa-comment fa-fw"></i> Passport expired
          <span class="float-right text-muted small">4 minutes ago</span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">
        <div>
          <i class="fa fa-envelope fa-fw"></i> Work authorization expired
          <span class="float-right text-muted small">4 minutes ago</span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">
        <div>
          <i class="fa fa-tasks fa-fw"></i> New Task
          <span class="float-right text-muted small">4 minutes ago</span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">
        <div>
          <i class="fa fa-upload fa-fw"></i> Server Rebooted
          <span class="float-right text-muted small">4 minutes ago</span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item see-more text-center" href="#">
        <strong>See All Alerts</strong>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </li>
  {% include 'lgc/dropdown_menu_users.html' %}
</ul>
