{% load i18n %}
{% load custom_tags %}
{% load humanize %}

{% get_current_language as LANGUAGE_CODE %}
{% now "Y-m-d" as today %}
{% get_notification_menu request as notifs %}
{% get_process_progress request as process_progress %}

<ul class="nav navbar-nav ml-md-auto flex-row navbar-top-links bg-light">

  {% include 'lgc/dropdown_menu_lang.html' %}

  <!-- process progress -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-tasks fa-fw"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right dropdown-tasks" style="width:400px;">
      {% for p in process_progress %}
      <a class="dropdown-item" href="{{ p.5 }}">
        <div>
          <p>
            <strong>{{ p.0 }} {{ p.1 }}{{ p.2 }}</strong>
            <span class="float-right text-muted">{{ p.3 }}%</span>
          </p>
          <div class="progress active">
            <div class="progress-bar progress-bar-striped progress-bar-animated {{ p.4 }}"
                 role="progressbar" aria-valuenow="{{ p.3 }}" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{ p.3 }}%">
              <span class="sr-only">{{ p.3 }}%</span>
            </div>
          </div>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      {% endfor %}
      <strong class="dropdown-item see-more text-center">
	{% if process_progress|length %}
	{% trans 'Pending processes' %}
	{% else %}
	{% trans 'No pending processes' %}
	{% endif %}
      </strong>
      <!--a class="dropdown-item see-more text-center" href="#">
        <strong>{% trans 'See all pending processes' %}</strong>
        <i class="fa fa-angle-right"></i>
      </a-->
    </div>
  </li>

  <!-- notifications -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true" aria-expanded="false">
      <i class="far fa-bell fa-fw"></i>
      {% if notifs.nb_items > 0 and notifs.nb_items < 100 %}
      <span class="notification">{{ notifs.nb_items }}</span>
      {% elif notifs.nb_items > 100 %}
      <span class="notification">+99</span>
      {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-alerts" style="width:400px;">

      {% for e in notifs.expirations %}
      <a class="dropdown-item" href="{% url 'lgc-file' e.person.id %}">
        <div>
          <i class="fa fa-hourglass-end fa-fw"></i>
	  {% with name=e.person.first_name|add:' '|add:e.person.last_name line_length=e.person.first_name %}
	  {{ name|truncatechars:19 }}
	  {% endwith %}
	  <span class="float-right text-muted small">
	    {% get_expiration_mapping e.type as e_mapping %}
	    {{ e_mapping }}
	    {% if e.end_date|date:'Y-m-d' < today %}
	    {% trans 'expired' %}
	    {% else %}
	    {% trans 'expires in' %}
	    {% if e.end_date|timeuntil|wordcount > 2 %}
	    {{ e.end_date|timeuntil|lgc_truncatewords:2 }}
	    {% else %}
	    {{ e.end_date|timeuntil }}
	    {% endif %}
	    {% endif %}
	  </span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      {% endfor %}

      {% for r in notifs.deletion_requests %}
      <a class="dropdown-item" href="{% url 'lgc-account' r.id %}">
        <div>
	  {# needed &nbsp; for far icon #}
          &nbsp;<i class="far fa-trash-alt"></i>&nbsp;
	  {% with name=r.first_name|add:' '|add:r.last_name line_length=r.first_name %}
	  {{ name|truncatechars:19 }}
	  {% endwith %}
	  <span class="float-right text-muted small">
	    {% trans 'Deletion requested' %}
	  </span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      {% endfor %}

      {% for p in notifs.ready_to_invoice %}
      <a class="dropdown-item" href="{% url 'lgc-person-process' p.id %}">
        <div>
          &nbsp;<i class="fa fa-edit fa-fw"></i>
	  {% if LANGUAGE_CODE == 'fr' %}{{ p.name_fr|truncatechars:30 }}{% else %}{{ p.name_en|truncatechars:30 }}{% endif %}
	  <span class="float-right text-muted small">
	    {% trans 'Ready to invoice' %}
	  </span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      {% endfor %}
      {% for i in notifs.ready_invoices %}
      <a class="dropdown-item" href="{% url 'lgc-invoice' i.id %}">
        <div>
          <i class="fa fa-money-bill-alt fa-fw"></i>
	  {% trans 'Invoice' %} {{ i.number }}
	  <span class="float-right text-muted small">
	    {% trans 'is ready' %}
	  </span>
        </div>
      </a>
      <div class="dropdown-divider"></div>
      {% endfor %}
      {% if notifs.expirations|length %}
      <a class="dropdown-item see-more text-center" href="{% url 'lgc-expirations' %}">
        <strong>{% trans 'See all expirations' %}</strong>
        <i class="fa fa-angle-right"></i>
      </a>
      {% endif %}
      {% if notifs.pcnt %}
      <a class="dropdown-item see-more text-center" href="{% url 'lgc-person-processes-ready' %}">
        <strong>{% trans 'See all ready processes' %}</strong>
        <i class="fa fa-angle-right"></i>
      </a>
      {% endif %}
      {% if notifs.ready_invoices|length %}
      <a class="dropdown-item see-more text-center" href="{% url 'lgc-invoices' %}?state=T">
        <strong>{% trans 'See all ready invoices' %}</strong>
        <i class="fa fa-angle-right"></i>
      </a>
      {% endif %}
      {% if not notifs.expirations|length and not notifs.pcnt and not notifs.ready_invoices|length%}
      <a class="dropdown-item see-more text-center" href="#">
        {% trans 'There are no pending notifications' %}
      </a>
      {% endif %}
    </div>
  </li>
  {% include 'lgc/dropdown_menu_users.html' %}
</ul>
