{% load i18n %}

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button"
     aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-user fa-fw"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right dropdown-user">
    <a class="dropdown-item" href="{% url 'user-profile' %}"><i class="fa fa-user fa-fw"></i> {% trans 'User Profile' %}</a>
    <!--a class="dropdown-item" href="#"><i class="fa fa-gear fa-fw"></i> {% trans 'Settings' %}</a-->
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'user-logout' %}"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Logout' %}</a>
  </div>
</li>
