{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

<script type="text/javascript">
function checkDuplicatedEmployee(table, id) {
  for (var i = 0, row; row = table.rows[i]; i++) {
    if (row.cells.length == 0)
      continue;
    if (row.cells[0].innerHTML == id)
      return true;
  }
  return false;
}

function removeEmployee(obj, number) {
  var total_forms = document.getElementById('id_form-TOTAL_FORMS');
  var parent = total_forms.parentElement;
  var el_deleted = document.createElement("input");

  el_deleted.setAttribute('type' , 'hidden');
  el_deleted.setAttribute('name' , 'form-'+number+'-DELETE');
  el_deleted.setAttribute('value' , 'on');

  arrayAction(obj)
  parent.appendChild(el_deleted);

  return false;
}

function addEmployee() {
  var table = document.getElementById('employee_table');
  var search_box = document.getElementById('search_box');
  var total_forms = document.getElementById('id_form-TOTAL_FORMS');
  var last_elem = total_forms.value;

  if (search_box.value == '')
    return false;

  var res = search_box.value.split(", ");
  if (typeof res[0] === 'undefined')
    return false;
  if (checkDuplicatedEmployee(table, res[0]))
    return false;

  var row = table.insertRow(-1);
  var cell1 = row.insertCell(-1);
  var cell2 = row.insertCell(-1);
  var cell3 = row.insertCell(-1);
  var cell4 = row.insertCell(-1);
  var cell5 = row.insertCell(-1);

  cell1.innerHTML = res[0];
  cell1.innerHTML += '<input name="form-'+last_elem+'-id" type="hidden" value="' + res[0] + '">';
  if (typeof res[1] !== 'undefined') {
    cell2.innerHTML = res[1];
    cell2.innerHTML += '<input name="form-'+last_elem+'-first_name" type="hidden" value="' + res[1] + '">';
  }
  if (typeof res[2] !== 'undefined') {
    cell3.innerHTML = res[2];
    cell3.innerHTML += '<input name="form-'+last_elem+'-last_name" type="hidden" value="' + res[2] + '">';
  }
  if (typeof res[3] !== 'undefined') {
    cell4.innerHTML = res[3];
    cell4.innerHTML += '<input name="form-'+last_elem+'-email" type="hidden" value="' + res[3] + '">';
  }

  cell5.innerHTML = '<input id="array_del" class="btn btn-white" value="X" onclick="removeEmployee(this, '+last_elem+')" type="button" name=""><input name="employee_id_'+last_elem+'" type="hidden" value="' + res[0] + '">';
  search_box.value = "";
  last_elem++;
  total_forms.value = last_elem;
  search_box.value = '';

  return false;
}
</script>

<div class="col-sm-12">
  <div class="row">&nbsp;
    {{ formset.management_form }}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{% trans 'Employee list' %}</h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover" id="employee_table">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>{% trans 'First name' %}</th>
	    <th>{% trans 'Last name' %}</th>
	    <th>{% trans 'E-mail' %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for form in formset %}
	  {% for f in form.hidden_fields %}
	  {{ f }}
	  {% endfor %}

	  <tr>
	    {% for f in form.hidden_fields %}
	    {% if form.hidden_fields.0.value %}
	    <td>
	      {{ f.value }}
	      {% if f.errors %}
	      <span class="invalid-feedback" style="display:inline;">
		<strong>{{ f.errors.0 }}</strong>
	      </span>
	      {% endif %}
	    </td>
	    {% endif %}
	    {% if forloop.last %}
	    {% if form.hidden_fields.0.value %}
	    <td>
	      <input id="array_del" class="btn btn-white" value="X" onclick="removeEmployee(this, {{ forloop.parentloop.counter0 }})" type="button" name="">
	    </td>
	    {% endif %}
	    {% endif %}
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="dataTables_filter">
	<input type="hidden" id="search" ajax-search="{% url 'lgc-insert-employee' %}" delim="break" value="">
	<div class="input-group custom-search-form">
          <input type="text" class="form-control" name="term" value="" id="search_box" placeholder="Search..." autocomplete="off" onfocus="this.selectionStart = this.selectionEnd = this.value.length;" autofocus="">
          <span class="input-group-btn">
            <button class="btn btn-white" type="button" onclick="return addEmployee();">{% trans 'Add' %}</button>
          </span>
	</div>
      </div>
      <label>
	<span id="search-result-container"></span>
      </label>
    </div>
  </div>

</div>
