{% extends "lgc/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load tz %}
{% load custom_tags %}

{% block content %}
{% now "Y-m-d" as today %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
	<div class="float-left">
	  {% if page_obj.paginator.count %}
	  {% blocktrans count entries=page_obj.paginator.count %}
	  Found 1 entry
	  {% plural %}
	  Found {{ entries }} entries
	  {% endblocktrans %}
	  {% else %}
	  {% trans 'No entries found' %}
	  {% endif %}
	</div>
      </div>

      <div class="card-body">
	<div class="row">
	  <div class="col-sm-8">
	    {% crispy search_form %}
	  </div>
	  <div class="col-sm-12 col-md-6">
	    {% include "common/pagination_header.html" %}
	  </div>
	</div>
	<table class="table table-striped table-bordered table-hover">
	  <thead>
	    {% get_table_th 'ID' 'id' order_by order_params %}
	    {% get_table_th _('First name') 'first_name' order_by order_params %}
	    {% get_table_th _('Last name') 'last_name' order_by order_params %}
	    {% get_table_th _('Home entity') 'person__home_entity' order_by order_params %}
	    {% get_table_th _('Expiration Date') 'end_date' order_by order_params %}
	  </thead>
	  <tbody>
	    {% for o in page_obj %}
	    <tr data-href="{% if request.user.role != 'EM' %}{% url 'lgc-file' o.person.id %}{% else %}{% url 'employee-file' %}{% endif %}"
		{% if not o.enabled %}
		class="clickable-row table-secondary"
		{% else %}
		{% if today > o.end_date|date:"Y-m-d" %}
		class="clickable-row bg-danger"
		{% else %}
		class="clickable-row table-success"
		{% endif %}
		{% endif %}
		>
	      <td>
		{% if not o.enabled %}
		<i>{{ o.get_type_display }} ({% trans 'disabled' %})</i>
		{% else %}
		{{ o.get_type_display }}
		{% endif %}
	      </td>
	      <td>{{ o.person.first_name }}</td>
	      <td>{{ o.person.last_name }}</td>
	      <td>{{ o.person.home_entity }}</td>
	      <td>{{ o.end_date }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% include 'common/pagination_buttons.html' %}
      </div>

    </div>
  </div>
</div>
{% endblock content %}
