{% load static %}

<center><small><p class="mt-5 mb-3 text-muted">Copyright K. Witek © {% now "Y" %}</p></small></center>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'lgc/metisMenu.min.js' %}"></script>

<!-- DataTables JavaScript -->
<script src="{% static 'lgc/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lgc/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lgc/dataTables.responsive.js' %}"></script>
<script src="{% static 'lgc/dual_select.js' %}"></script>
<script src="{% static 'lgc/datepicker-widget.js' %}"></script>
<script src="{% static 'lgc/dtable.js' %}"></script>
<script src="{% static 'lgc/lgc.js' %}"></script>
<script src="{% static 'lgc/autosize/dist/autosize.js' %}"></script>
<script src="{% static 'lgc/notify.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="{% static 'lgc/sb-admin-2.js' %}"></script>
