{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% if formset.db_objs %}
{% include 'lgc/display_current_objects.html' %}
{% endif %}
<div id="{{ formset.id }}" data-formset-prefix="{{ formset.prefix }}">
  {{ formset.management_form }}

  <div data-formset-body>
    {% for form in formset %}
    {% if forloop.first %}
    <div class="form-row">
      {% for f in form.visible_fields %}
      <div
	class="form-group justify-content-center d-flex lgc_small_formset_label
      {% if f.name == 'DELETE' or 'enabled' in f.name %}
	col-xs-1
      {% elif f.name == 'description' or f.name == 'type'%}
        col-md-3
      {% elif f.name == 'vat' or f.name == 'margin' %}
        col-md-1
      {% elif formset.id != 'children_id' %}
	col-md-2
      {% else %}
	lgc_col-md-1
      {% endif %}
      ">

	{{ f.label|capfirst }}
	{% if f.field.required %}<span class="asteriskField">*</span>{% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div data-formset-form class="form-row mt-2">
      {% for f in form.hidden_fields %}
      {{ f }}
      {% endfor %}
      {% for f in form.visible_fields %}
      <div
	{% if f.name == 'DELETE' %}
	class="d-none">
	{% elif 'enabled' in f.name %}
	class="col-xs-1 lgc_aligned_checkbox lgc_small_formset justify-content-center d-flex">
	{% elif f.name == 'description' or f.name == 'type'%}
	class="col-md-3 lgc_small_formset justify-content-center d-flex">
	{% elif f.name == 'vat' or f.name == 'margin' %}
	class="col-md-1 justify-content-center d-flex">
	{% elif formset.id != 'children_id' %} %}
	class="col-md-2 justify-content-center d-flex">
	{% else %}
	class="lgc_col-md-1 justify-content-center d-flex">
	{% endif %}
	{{ f }}
	{% if f.errors %}
	<span class="invalid-feedback" style="display:inline;">
	  <strong>{{ f.errors.0 }}</strong>
	</span>
	{% endif %}
      </div>
      {% endfor %}
      <div class="form-group col-xs-1 justify-content-center d-flex lgc_small_formset lgc_aligned_checkbox">
	<i class="far fa-trash-alt" data-formset-delete-button></i>
      </div>
    </div>
    {% endfor %}
  </div>

  <script type="form-template" data-formset-empty-form>
    {% escapescript %}
    <div data-formset-form class="form-row mt-2">
      {% for f in formset.empty_form.hidden_fields %}
      {{ f }}
      {% endfor %}
      {% for f in formset.empty_form.visible_fields %}
      <div
	{% if f.name == 'DELETE' %}
	class="d-none">
	{% elif 'enabled' in f.name %}
	class="col-xs-1 lgc_aligned_checkbox lgc_small_formset justify-content-center d-flex">
	{% elif f.name == 'description' or f.name == 'type' %}
	class="col-md-3 lgc_small_formset justify-content-center d-flex">
	{% elif f.name == 'vat' or f.name == 'margin' %}
	class="col-md-1 justify-content-center d-flex">
	{% elif formset.id != 'children_id' %} %}
	class="col-md-2 justify-content-center d-flex">
	{% else %}
	class="lgc_col-md-1 justify-content-center d-flex">
	{% endif %}
	{{ f }}
	{% if f.errors %}
	<span class="invalid-feedback" style="display:inline;">
	  <strong>{{ f.errors.0 }}</strong>
	</span>
	{% endif %}
      </div>
      {% endfor %}
      <div class="form-group col-xs-1 justify-content-center d-flex lgc_small_formset lgc_aligned_checkbox">
	<i class="far fa-trash-alt" data-formset-delete-button></i>
      </div>
    </div>
  </script>
  {% endescapescript %}
  <script>
    jQuery(function ($) {
    lgc_datepicker();
    });
  </script>

  <div class="form-row mt-2">
    <input type="button" class="btn btn-info rounded" value="{% trans 'Add' %}" data-formset-add>
  </div>
</div>
