{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

<label><b>{{ formset.title }}</b></label>
<div id="{{ formset.id }}" data-formset-prefix="{{ formset.prefix }}">
  {{ formset.management_form }}

  <div data-formset-body>
    <!-- New forms will be inserted in here -->
    {% for form in formset %}

    {% if forloop.first %}
    <div class="form-row">
      {% for f in form.visible_fields %}
      {% if f.name == "DELETE" %}
      <div class="form-group col-md-1 justify-content-center d-flex">
      {% else %}
      <div class="form-group col-md-2">
      {% endif %}
	{{ f.label|capfirst }}
	{% if f.field.required %}<span class="asteriskField">*</span>{% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div data-formset-form class="form-row">
      {% for f in form.hidden_fields %}
      {{ f }}
      {% endfor %}
      {% for f in form.visible_fields %}
      {% if f.name != "DELETE" %}
      <div class="form-group col-md-2">
	{{ f }}
	{% if f.errors %}
	<span class="invalid-feedback" style="display:inline;">
	  <strong>{{ f.errors.0 }}</strong>
	</span>
	{% endif %}
      </div>
      {% endif %}
      {% endfor %}
      <div class="form-group col-md-1 justify-content-center d-flex">
	<div class="d-none">{{ form.DELETE }}</div>
	<i class="fa fa-trash fa-fw" data-formset-delete-button></i>
      </div>
    </div>
    {% endfor %}
  </div>

  <script type="form-template" data-formset-empty-form>
    {% escapescript %}
    <div data-formset-form class="form-row">
      {% for f in formset.empty_form.hidden_fields %}
      {{ f }}
      {% endfor %}
      {% for f in formset.empty_form.visible_fields %}
      {% if f.name != "DELETE" %}
      <div class="form-group col-md-2">{{ f }}</div>
      {% else %}
      <div class="d-none">{{ f }}</div>
      <div class="form-group col-md-1 justify-content-center d-flex">
	<i class="fa fa-trash fa-fw" data-formset-delete-button></i>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endescapescript %}
    <script>
      jQuery(function ($) {
      lgc_datepicker();
      });
    </script>

  </script>

  <input type="button" value="{% trans 'Add' %}" data-formset-add>
</div>
