{% extends "lgc/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load formset_tags %}
{% load i18n %}
{% block content %}

<form method="post" enctype="multipart/form-data" id="form_id">
{% if file_url %}
<a href="{{ file_url }}">{% trans "View user's file." %}</a><hr>
{% endif %}

{% if changes_detected_form %}
{% blocktrans with firstname=object.modified_by.first_name lastname=object.modified_by.last_name %}
The form has been updated by {{ firstname }} {{ lastname }} while you were editing it.
See the changes below:
{% endblocktrans %}
<br><br>

{% if form_diff %}
<table class="table table-striped">
{% for d in form_diff %}
<tr>
  <td width="200">{{ d.0 }}:</td>
  <td>
    {% if d.1 %}
    {% for i in d.2 %}
    {{ i.first_name }} {{ i.last_name }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    {{ d.2 }}
    {% endif %}
  </td>
  </tr>
{% endfor %}
  </tbody>
</table>
<br>
{% endif %}
{% endif %}

{% for formset_diff in formsets_diff %}
<div class="row">
  <div class="col-sm-7">
    {{ formset_diff.1 }}:
    <table class="table-sm  table-bordered">
      {% for obj_lists in formset_diff.2 %}
      {% if forloop.first %}
      <thead>
	<tr>
	  {% for label in obj_lists %}
	  <th>{{ label }}</th>
	  {% endfor %}
	</tr>
      </thead>
      <tbody>
	{% else %}
	{% for objs in obj_lists %}
	<tr>
	  {% for obj in objs %}
	  <td width="250">{{ obj }}</td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>
<hr><br>
{% endfor %}
{% if changes_detected_form %}
{% crispy changes_detected_form %}
<button class="btn btn-outline-info" type="submit">{% trans 'Submit' %}</button>
<hr>
{% endif %}
{% crispy form %}
</form>

{% endblock content %}

{% block javascript %}
<script src="{% static 'lgc/jquery.formset.min.js' %}"></script>
<script type="text/javascript">
{% for formset in formsets %}
jQuery(function($) {
    $("#{{ formset.id }}").formset({
        animateForms: true,
        reorderMode: 'dom',
    });
});
{% endfor %}


function form_changed() {
  if ($("#form_id").data("changed")) {
    return confirm('{% trans 'The form has not been saved. Are you sure you want to navigate away from this page?' %}');
  }
  return true;
}

$(document).ready(function () {
  $(document).on("change", "#form_id :input", function() {
    $("#form_id").data("changed",true);
  });

  $('a[href]').each(function() {
    var a = this;

    if (a.href.match('.*#$'))
      return;
    if (a.id.match('^lgc-tab.*'))
      return;

    $(a).attr('onClick','return form_changed();');
  });
});

autosize(document.querySelectorAll('textarea'));
</script>

{% endblock javascript %}
