{% extends "lgc/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
	<div class="float-left">
	  {% if page_obj.paginator.count %}
	  {% blocktrans count entries=page_obj.paginator.count %}
	  Found 1 entry
	  {% plural %}
	  Found {{ entries }} entries
	  {% endblocktrans %}
	  {% else %}
	  {% trans 'No entries found' %}
	  {% endif %}
	</div>
	{% if create_url %}
	<div class="float-right">
	  <a class="btn btn-outline-info btn-lgc" href="{{ create_url }}">
	    {% trans "Add" %}</a>
	</div>
	{% endif %}
      </div>
      <!-- /.card-header -->
      <div class="card-body">
	<form id="search" ajax-search="{{ ajax_search_url }}" method="get" action="{{ search_url }}">
	  {% if search_form %}
	  <div class="row">
	    <div  class="col-sm-12 col-md-7">
	      {% crispy search_form %}
	    </div>
	  </div>
	  {% endif %}

	  <div class="row">
	    {% block search_bar %}{% endblock %}
	    <div {% if search_form %}class="col-md-3 "{% else %}class="col-sm-12 col-md-6"{% endif %} {% if page_obj.paginator.num_pages %}style="top:15px;"{% endif %}>
	      {% if not dont_show_search_bar %}
	      <div class="dataTables_filter">
		<div class="input-group custom-search-form">
                  <input type="text" class="form-control" name="term" value="{{ request.GET.term }}" id="search_box" placeholder="{% trans 'Search...' %}" autocomplete="off" onfocus="this.selectionStart = this.selectionEnd = this.value.length;
" autofocus>
                  <span class="input-group-btn">
                    <button class="btn btn-light" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
		</div>
	      </div>
	      {% endif %}
	      <label>
		<span id="search-result-container"></span>
	      </label>
	    </div>
	</div>
	</form>
	{% block body %}{% endblock %}
	{% include 'common/pagination_buttons.html' %}
      </div>
      {% block billing %}{% endblock %}
    </div>
  </div>
</div>
{% endblock content %}
