{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  {% if title %}
  <title>LGC - {{ title }}</title>
  {% else %}
  <title>LGC</title>
  {% endif %}
  <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link href="{% static 'lgc/css/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{% static 'lgc/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'lgc/css/styles.css' %}" rel="stylesheet">
  <link href="{% static 'lgc/css/morris.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{% static 'lgc/css/lgc.css' %}" rel="stylesheet">
  <link href="{% static 'lgc/css/timeline.css' %}" rel="stylesheet">
  <link href="{% static 'lgc/css/flag-icon.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'lgc/images/favicon.ico' %}"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

</head>
