{% load i18n %}

<div class="sidebar" role="navigation">
  <div class="sidebar-nav collapse navbar-collapse show" id="side-menu-wrapper">
    <ul class="nav navbar-nav navbar-collapse flex-column side-nav list-group" id="side-menu">
      <li>&nbsp</li>
      <li class="list-group-item">
        <a href="{% url 'lgc-home' %}"><i class="fa fa-home fa-fw"></i> {% trans 'Dashboard' %}</a>
      </li>
      <li class="list-group-item">
	<a href="{% url 'lgc-myfile' %}"><i class="fa fa-copy fa-fw"></i> {% trans "My case" %}</a>
      </li>

      <li class="list-group-item">
	<a href="#{# url 'lgc-expirations' #}"><i class="fa fa-bell fa-fw"></i> {% trans "My expirations" %}</a>
      </li>

    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
