{% extends "lgc/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {% crispy form %}

  <div class="form-row">&nbsp<br>&nbsp;</div>
  {% include 'lgc/person_process_timeline.html' %}
  <div class="form-row">&nbsp</div>
  <div class="form-row">&nbsp</div>
  {{ formset.management_form }}
  {% for sform in formset.forms %}
  {% crispy sform %}
  {% endfor %}
  {% for stage in stages %}
  {% crispy stage %}
  {% endfor %}
  {% if stage_form %}
  {% crispy stage_form %}
  {% endif %}
  <div class="form-row">
    <div class="form-group col-md-3">
      <div id="specific_stage" style="display:none;">{{ specific_stage|crispy }}</div>
    </div>
  </div>

  {% if object.active %}
  <button class="btn btn-outline-info" type="submit">{% trans 'Update' %}</button>
  {% else %}
  <a href="{{ go_back }}" class="btn btn-outline-info">{% trans "Go back" %}</a>
  {% endif %}
  <a href="{% url 'lgc-file' object.person.id %}" class="btn btn-outline-info">{% trans "Show related file" %}</a>
  {% if object.get_invoice %}
  <a href="{% url 'lgc-invoice' object.get_invoice.id %}" class="btn btn-outline-info">{% trans "Show invoice" %}</a>
  {% endif %}
  {% if object.get_quotation %}
  <a href="{% url 'lgc-invoice' object.get_quotation.id %}" class="btn btn-outline-info">{% trans "Show quotation" %}</a>
  {% endif %}
  {% if object.get_credit_note %}
  <a href="{% url 'lgc-invoice' object.get_credit_note.id %}" class="btn btn-outline-info">{% trans "Show credit note" %}</a>
  {% endif %}

  {% if not object.no_billing and not object.get_invoice %}
  <a href="{% url 'lgc-invoice-create' %}?pid={{ object.person.id }}&proc_id={{ object.id }}" class="btn btn-outline-info">{% trans "Generate invoice" %}</a>
  {% if not object.get_quotation %}
  <a href="{% url 'lgc-invoice-create' %}?pid={{ object.person.id }}&proc_id={{ object.id }}&quote=1" class="btn btn-outline-info">{% trans "Generate quotation" %}</a>
  {% endif %}
  {% endif %}

</form>
{% endblock content %}
