{% extends "lgc/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header">
	<div class="float-left">Found
	  {% blocktrans count entries=page_obj.paginator.count %}
	  {{ entries }} entry
	  {% plural %}
	  {{ entries }} entries
	  {% endblocktrans %}
	</div>
	<div class="float-right">
	  <a class="btn btn-outline-info btn-lgc" href="{{ create_url }}">
	    {% trans "Add" %}</a>
	</div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
	<div class="row"><div class="col-sm-12 col-md-6">
	    {% include "common/pagination_header.html" %}
	  </div>
	  <div class="col-sm-12 col-md-6">
	    <div class="dataTables_filter">
	      <form id="search" ajax-search="{% url 'lgc-user-search-ajax' %}" method="get" action="{% url 'lgc-files' %}">
		<div class="input-group custom-search-form">
                  <input type="text" class="form-control" name="term" value="{{ request.GET.term }}" id="person_search" placeholder="{% trans 'Search...' %}" autocomplete="off" onfocus="this.selectionStart = this.selectionEnd = this.value.length;
" autofocus>
                  <span class="input-group-btn">
                    <button class="btn btn-white" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
		</div>
	      </form>
	    </div>
	    <label>
		<span id="search-result-container"></span>
	      </label>
	  </div>
	</div>
	<table class="table table-striped table-bordered table-hover">
	  <thead>
	    <tr>
	      {% if show_id %}
	      <th scope="col">ID
		{% if order_by == "id" %}
		<a href="?{{ order_params }}&order_by=-id"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-id" %}
		<a href="?{{ order_params }}&order_by=id"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=id"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      {% endif %}
	      <th scope="col">E-mail
		{% if order_by == "email" %}
		<a href="?{{ order_params }}&order_by=-email"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-email" %}
		<a href="?{{ order_params }}&order_by=email"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=email"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col">{% trans "First name" %}
		{% if order_by == "first_name" %}
		<a href="?{{ order_params }}&order_by=-first_name"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-first_name" %}
		<a href="?{{ order_params }}&order_by=first_name"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=first_name"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      <th scope="col">{% trans "Last name" %}
		{% if order_by == "last_name" %}
		<a href="?{{ order_params }}&order_by=-last_name"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-last_name" %}
		<a href="?{{ order_params }}&order_by=last_name"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=last_name"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      {% if show_birth_date %}
	      <th scope="col">{% trans "Birth Date" %}
		{% if order_by == "birth_date" %}
		<a href="?{{ order_params }}&order_by=-birth_date"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-birth_date" %}
		<a href="?{{ order_params }}&order_by=birth_date"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=birth_date"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>
	      {% endif %}
	      <th scope="col">{% trans "Created" %}
		{% if order_by == "creation_date" %}
		<a href="?{{ order_params }}&order_by=-creation_date"><i class="fa fa-fw fa-sort-asc"></i></a>
		{% elif order_by == "-creation_date" %}
		<a href="?{{ order_params }}&order_by=creation_date"><i class="fa fa-fw fa-sort-desc"></i></a>
		{% else %}
		<a href="?{{ order_params }}&order_by=creation_date"><i class="fa fa-fw fa-sort lgc-sorting-muted"></i></a>
		{% endif %}
	      </th>

	    </tr>
	  </thead>
	  <tbody>
	    {% for person in persons %}
	    <tr class="clickable-row" data-href="{% url update_url person.id %}">
	      {% if show_id %}<td>{{ person.id }}</td>{% endif %}
	      <td>{{ person.email }}</td>
	      <td>{{ person.first_name }}</td>
	      <td>{{ person.last_name }}</td>
	      {% if show_birth_date %}<td>{{ person.birth_date }}</td>{% endif %}
	      <td>
		{% if person.creation_date %}
		{{ person.creation_date|date }}
		{{ person.creation_date|time:'H:i:s' }}
		{% else %}
		{{ person.date_joined|date }}
		{{ person.date_joined|time:'H:i:s' }}
		{% endif %}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	  {% include 'common/pagination_buttons.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
var url;

$(document).ready(function(){
    url = $("#search").attr("ajax-search");
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

$("#person_search").keyup(function (event) {
    var term = $("#person_search").val();
    if (term.length < 2)
	return;
    if (event.keyCode === 13) {
	$("#search").submit();
	return;
    }
    if (event.keyCode == 40 || event.keyCode == 38)
	return;
    $.ajax({
        url: url,
        data: {
            'term': term
        },
        success: function (data) {
	    var array;

	    data = data.replace(/,\n/gm, "");
	    data = data.replace(/\n/gm, "");
	    if (data != "")
		array = data.split(/,/);
	    autocomplete(document.getElementById("person_search"), array);
        }
    });
});

function autocomplete(inp, arr) {
    var currentFocus = -1;

    inp.addEventListener("input", function(e) {
	var a, b, i, val = this.value;
	/* close any already open lists of autocompleted values */
	closeAllLists();
	if (!val || typeof arr == 'undefined')
	    return false;

	currentFocus = -1;
	/* create a DIV element that will contain the items (values): */
	a = document.createElement("DIV");
	a.setAttribute("id", this.id + "autocomplete-list");
	a.setAttribute("class", "autocomplete-items");
	/* append the DIV element as a child of the autocomplete container: */
	this.parentNode.appendChild(a);
	/* for each item in the array... */
	for (i = 0; i < arr.length; i++) {
	    val = val.toLowerCase();

	    /* create a DIV element for each matching element: */
	    b = document.createElement("DIV");
	    console.log("v:"+val+" arr:"+arr[i]);
	    b.innerHTML = arr[i].replace(val, "<strong>" + val + "</strong>");
	    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
	    b.addEventListener("click", function(e) {
		inp.value = this.getElementsByTagName("input")[0].value;
		closeAllLists();
	    });
	    a.appendChild(b);
        }
    });

    inp.addEventListener("keydown", function(e) {
	var x = document.getElementById(this.id + "autocomplete-list");
	if (x) x = x.getElementsByTagName("div");
	if (e.keyCode == 40) {
	    /* If the arrow DOWN key is pressed,
	     * increase the currentFocus variable: */
	    currentFocus++;
	    /* and and make the current item more visible: */
	    addActive(x);
	} else if (e.keyCode == 38) { //up
	    /* If the arrow UP key is pressed,
	     * decrease the currentFocus variable: */
	    currentFocus--;
	    /* and and make the current item more visible: */
	    addActive(x);
	} else if (e.keyCode == 13) {
	    /* If the ENTER key is pressed, prevent the form from being submitted */
	    e.preventDefault();
	    if (currentFocus > -1) {
		/* and simulate a click on the "active" item: */
		if (x) x[currentFocus].click();
	    }
	}
    });
    function addActive(x) {
	/* a function to classify an item as "active": */
	if (!x) return false;
	/* start by removing the "active" class on all items: */
	removeActive(x);
	if (currentFocus >= x.length) currentFocus = 0;
	if (currentFocus < 0) currentFocus = (x.length - 1);
	/* add class "autocomplete-active": */
	x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
	/* a function to remove the "active" class from all autocomplete items: */
	for (var i = 0; i < x.length; i++) {
	    x[i].classList.remove("autocomplete-active");
	}
    }
    function closeAllLists(elmnt) {
	/* close all autocomplete lists in the document,
	 * except the one passed as an argument: */
	var x = document.getElementsByClassName("autocomplete-items");
	for (var i = 0; i < x.length; i++) {
	    if (elmnt != x[i] && elmnt != inp) {
		x[i].parentNode.removeChild(x[i]);
	    }
	}
    }
    /* execute a function when someone clicks in the document: */
    document.addEventListener("click", function (e) {
	closeAllLists(e.target);
	$("#search").submit();
    });
}
</script>

{% endblock %}
