{% load formset_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if show_detailed_process %}
<div class="row">
  <div class="form-group col-md-2">
    {{ person_process.form.consulate|as_crispy_field }}
  </div>
  <div class="form-group col-md-2">
    {{ person_process.form.prefecture|as_crispy_field }}
  </div>
</div>
<div class="row">
  <div class="form-group col-md-2">
    {{ person_process.form.no_billing|as_crispy_field }}
  </div>
</div>
{% endif %}

<div class="row">&nbsp<br>&nbsp;</div>
{% with person_process.timeline_stages as timeline_stages %}
{% include 'lgc/person_process_timeline.html' %}
{% endwith %}
<div class="row">&nbsp</div>
<div class="row">&nbsp</div>

<div class="form-row">
  <div class="form-group col-md-5">
    {% if person_process.stages.all|length > 0 %}
    <table class="table table-striped table-bordered table-hover">
      <thead>
	<tr>
	  <th scope="col">{% trans 'Name' %}</th>
	  <th scope="col">{% trans 'Comments' %}</th>
	  <th scope="col">Date</th>
	</tr>
      </thead>
      <tbody>
	{% for s in person_process.stages.all %}
	<tr>
	  <td>
	    {% if LANGUAGE_CODE == 'fr' %}
	    {{ s.name_fr }}
	    {% else %}
	    {{ s.name_en }}
	    {% endif %}
	  </td>
	  <td>{{ s.stage_comments }}</td>
	  <td>{{ s.validation_date }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% if person_process.edit_url %}
<a href="{{ person_process.edit_url }}" class="btn btn-outline-info">{% trans "Edit" %}</a>

{% if person_process.get_invoice %}
<a href="{% url 'lgc-invoice' person_process.get_invoice.id %}" class="btn btn-outline-info">
  {% trans "Show invoice" %}</a>
{% endif %}
{% if person_process.get_quotation %}
  <a href="{% url 'lgc-invoice' person_process.get_quotation.id %}" class="btn btn-outline-info">
  {% trans "Show quotation" %}</a>
{% endif %}

{% if not person_process.no_billing and not person_process.get_invoice %}
  <a href="{% url 'lgc-invoice-create' %}?pid={{ person_process.person.id }}&proc_id={{ person_process.id }}" class="btn btn-outline-info">{% trans "Generate invoice" %}</a>
  {% if not person_process.get_quotation %}
  <a href="{% url 'lgc-invoice-create' %}?pid={{ person_process.person.id }}&proc_id={{ person_process.id }}&quote=1" class="btn btn-outline-info">{% trans "Generate quotation" %}</a>
  {% endif %}
{% endif %}
{% endif %}
