{% extends "lgc/generic_list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block search_bar %}
{% if search_form %}
  {% if page_obj.paginator.num_pages > 1 %}
    <div class="col-xs-2" style="width:80px;">
      {% include "common/pagination_header.html" %}
    </div>
  {% else %}
    {% include "common/pagination_header.html" %}
  {% endif %}
{% else %}
  <div class="col-sm-6">
    {% include "common/pagination_header.html" %}
  </div>
{% endif %}
{% endblock %}

{% block body %}
{% load custom_tags %}
{% generate_table header_values object_list order_by order_params item_url %}
{% endblock %}

{% block billing %}
{% if totals %}
{% include 'lgc/billing_totals.html' %}
{% endif %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    var s_started = 0;
    var e_started = 0;
    var form = document.getElementById('search');

    $('#id_start_date').on('dp.change', function(e){
    /* do not submit the form after the page has been loaded */
    if (s_started)
      form.submit();
    s_started++;
    })
    $('#id_end_date').on('dp.change', function(e){
    if (e_started)
      form.submit();
    e_started++;
    })

    function submit_csv() {
	var start_date_input = document.getElementById('id_start_date');
	var end_date_input = document.getElementById('id_end_date');
	var cols_input = document.getElementById('id_csv');
	var url = "{% url 'lgc-billing-csv' %}?";

	if (start_date_input.value == '' || end_date_input.value == '') {
	    alert("{% trans 'Choose a date range first' %}");
	    return false;
	}

	url += 'start_date=' + start_date_input.value + '&end_date=' +
	    end_date_input.value
	for (i = 0; i < cols_input.length; i++)
	    if (cols_input[i].selected)
		url += '&cols=' + cols_input[i].value
	window.location = url;
    }

  </script>
{% endblock %}
